VITE_SUPABASE_URL=https://pmdpckybasiohqagdgob.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtZHBja3liYXNpb2hxYWdkZ29iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMzY3MzcsImV4cCI6MjA5MjcxMjczN30.jE4p1IuJyBh35oQE0B8O0Iktmn5-1807Lz5epnysnlg